/* styles.css */
body {
    font-family: sans-serif;
}

.header-title {
    font-size: 36px; /* Header title (e.g., "Life Blogs") */
}

.nav-link {
    font-size: 18px; /* Navigation links */
}

.section-title {
    font-size: 28px; /* Section headings (e.g., "Life Posts") */
}

.post-title {
    font-size: 30px; /* Post titles 22*/
}

.post-date {
    font-size: 14px; /* Post dates */
}

p {
  font-size: 18px; /* You can change 16px to any size you like */
  margin-bottom: 24px !important;
  text-align: justify;
}

.footer-text {
    font-size: 14px; /* Footer text */
}

pre {
    background: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
}
